<playground-navbar></playground-navbar>
<my-component name="{{ name }}"></my-component>

<div class="wrapper">
  <h2>Coffee recipes:</h2>

  <div class="add-wrapper">
    <button>+</button>
    <span>add category</span>
  </div>
</div>
<div class="horizontal-scroller">
  <div class="card">
    <h1>Espresso</h1>
    <div class="line"></div>
    <span>5 recipes</span>
  </div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
</div>

<div class="wrapper">
  <h2>Nieuwe Recepten:</h2>
</div>
