:root {
  //colors
  --c-white: #f0f0f0;
  --c-body: #121212;
  --c-background: #202124;
  --c-black: #000000;
  --c-hover-bg: grey;
  --c-disabled: rgba(128, 128, 128, 0.3);
  --c-disabled-txt: #000000;

  //theming

  //card
  --c-card-bg: var(--c-background);

  //inputs
  --c-input-border-bottom: var(--c-white);
  --c-input-focus-color: var(--c-white);
  --c-input-txt-color: var(--c-white);

  //button
  --c-button-bg: var(--c-black);
  --c-button-bg-hover: var(--c-hover-bg);
  --c-button-bg-disabled: var(--c-disabled);
  --c-button-txt-disabled: var(--c-disabled-txt);

  --c-txt-button-color: var(--c-white);
  --c-txt-button-border-color: var(--c-white);
  --c-txt-button-color-hover: var(--c-hover-bg);
  --c-txt-button-border-color-hover: var(--c-hover-bg);
}
